---
import { Image } from "astro:assets";
import experiences from "../collections/experiences.json";
import AboutExperience from "@/components/item/about-experience-item.astro";
import PageHeading from "@/components/layout/page-heading.astro";
import Layout from "@/layouts/main.astro";
---

<Layout title="关于我">
  <section class="relative z-20 max-w-5xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="关于我"
      description="华中科技大学计算机科学与技术专业硕士在读，热爱编程与技术探索，喜欢分享知识与经验"
    />

    <Image
      src="https://picbed.cloudchewie.com/blog/gallery/dancae/dancae3.jpg"
      alt="Dancae"
      inferSize={true}
      loading="eager"
      class="relative z-30 w-full my-10 rounded-xl w-full h-full object-cover max-h-[300px] rounded-xl shadow-lg"
    />

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      我的经历
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience) => {
          return (
            <div class="pb-10 border-l border-gray-200 last:border-l-0 dark:border-neutral-700">
              <AboutExperience
                dates={experience.dates}
                role={experience.role}
                company={experience.company}
                description={experience.description}
                logo={experience.logo}
              />
            </div>
          );
        })
      }
    </div>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      保持联系
    </h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      如果你想关注我的近期动态，可以在 <a
        href="https://github.com/Robert-Stackflow"
        target="_blank"
        class="text-indigo-600 underline">GitHub</a
      > 上关注我，或者你可以发送邮件到 <a
        href="mailto:2014027378#qq.com"
        class="text-indigo-600 underline">我的邮箱</a
      >，我会尽快回复你。
    </p>
  </section>
</Layout>
